*{
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .a{
    margin: 50px;
    height: 30px;
    width: 1150px;
} */
.b{
    margin: 20px;
    height: 350px;
    width: 1150px;
}
.b1{
    height: 350px;
    width: 550px;
    float: right;
    border-bottom-left-radius: 250px;
    border-top-left-radius: 250px ;
    background-image: url(41.images/lady.jpg);
}
.b2{                       
    height: 350px;
    width: 500px;
    float: left;
}
.b21{
    margin-top: 50px;
    margin-left: 50px;
    height: 250px;
    width: 400px;
    text-align: left;
}
p{
    font-size: 15px;
}
h3{
    font-size: 35px;
    margin-top: 5px;
}
button{
    border: 1px solid red;
    height: 40px;
    width: 110px;
    font-size: 8px;
    color: red;
    border-radius: 3px;
    text-align: center;
    background-color: white;
    margin-top: 10px;
}
.c{
    height: 200px;
    width: 850px;
}
.c1{
    height: 200px;
    width: 200px;
    background-color: rgb(245, 90, 51);
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
}
.c2{
    text-decoration: underline;
}
.c3{
    height: 45px;
    width: 45px;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
}
.d{
    height: 500px;
    width: 1000px;
    margin-top: 50px;
}
.d1{
    height: 180px;
    width: 450px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    color: gray;
    text-align: left;
}
.d21{
    height: 20px;
    width: 20px;
    border: 1px solid rgb(245, 90, 51);
    border-radius: 20px;
    float: left;
    background-color: rgb(245, 90, 51);
    margin: 10px;
}
.d2{
    float: left;
    margin-top: 10px;
    text-align: left;
}
.d12{
    float: left;
    margin-left: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-style: italic;
}
.e{
    height: 400px;
    width: 1150px;
    border: 1px solid rgb(223, 217, 217);
    margin-left: 200px;
    background-image: url(41.images/yu.jpg);
    background-color: rgb(223, 217, 217);
    background-repeat: no-repeat;
    background-position: 550px;
}
.e1{
    height: 300px;
    width: 600px;
    border: 1px solid rgb(223, 217, 217);
    margin-left: 80px;
    margin-top: 50px;
}
.e2{
    height: 250px;
    width: 230px;
    float: left;
    margin-top: 15px;
    
}
.e3{
    height: 250px;
    width: 230px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}
.e4{
    margin-top: 0px;
}
.f{
    height: 250px;
    width: 700px;
}
.f1{
    height: 200px;
    width: 200px;
    border: 1px solid  rgb(245, 90, 51);
    background-color: rgb(245, 90, 51);
    float: left;
    border-radius: 5px;
    color: white;
    text-align: left;
    margin-left: 20px;
}
.f2{
    font-size: 15px;
    margin-left: 10px;
}
.f3{
    font-size: 10px;
    margin-left: 10px;
}

.g{
    margin: 20px;
    height: 350px;
    width: 1150px;
}
.g1{
    height: 350px;
    width: 550px;
    float: left;
    border-bottom-right-radius: 250px;
    border-top-right-radius: 250px ;
    background-image: url(41.images/et.jpg);
}
.g2{                       
    height: 350px;
    width: 500px;
    float: left;
}
.g21{
    margin-top: 50px;
    margin-left: 10px;
    height: 250px;
    width: 400px;
    font-size: 20px;
    text-align: left;
    float: left;
}
.g3{
        font-size: 10px;
        margin-top: 10px;
}
.h{
    height: 1000px;
    width: 1150px;
    border: 2px solid  rgb(245, 90, 51);
    margin: 20px;
    background-color:  rgb(245, 90, 51);
}
.h1{
    height: 110px;
    width: 525px;
    margin-top: 80px;
    color: white;
}
.h2{
    height: 800px;
    width: 1000px;
}
.h21{
    height: 370px;
    width: 280px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    background-color: white;
    
}
.h2111{
    height: 165px;
    width: 240px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(41.images/h3.jpg);
    background-repeat: no-repeat;
}
.h2112{
    height: 165px;
    width: 240px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(41.images/h2.jpg);
    background-repeat: no-repeat;
}
.h2113{
    height: 165px;
    width: 240px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(41.images/h1.jpg);
    background-repeat: no-repeat;
}
.h2114{
    height: 165px;
    width: 240px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(41.images/h4.jpg);
    background-repeat: no-repeat;
}
.h2115{
    height: 165px;
    width: 240px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(41.images/h5.jpg);
    background-repeat: no-repeat;
}
.h2116{
    height: 165px;
    width: 240px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(41.images/h6.jpg);
    background-repeat: no-repeat;
}
.h212{
    height: 165px;
    width: 240px;
    margin-left:20px;
    float: left;
    text-align: left;
}
.h213{
    height: 20px;
    width: 20px;
    border: 1px solid rgb(245, 90, 51);
    border-radius: 20px;
    float: left;
    background-color: rgb(245, 90, 51);
    margin: 10px;
    text-align: center;
}
.h214{
    height: 20px;
    width: 20px;
    border: 1px solid rgb(245, 90, 51);
    border-radius: 20px;
    float: left;
    background-color: rgb(245, 90, 51);
    margin: 10px;
    text-align: center;
 
}
.h215{
    height: 20px;
    width: 20px;
    border: 1px solid rgb(245, 90, 51);
    border-radius: 20px;
    float: left;
    background-color: rgb(245, 90, 51);
    margin: 10px;
    text-align: center;
}
.h3{
    font-size: 20px;
}
.h4{
    font-size: 10px;
    color: darkslategray;
    margin-top: 10px;
}
.i{
    margin: 20px;
    height: 350px;
    width: 1150px;
}
.i1{
    height: 350px;
    width: 550px;
    float: right;
    border-bottom-left-radius: 250px;
    border-top-left-radius: 250px ;
    background-image: url(41.images/io.jpg);
}
.i2{                       
    height: 350px;
    width: 500px;
    float: left;
    margin-left: 20px;
}
.i21{
    margin-top: 60px;
    margin-left: 80px;
    height: 250px;
    width: 400px;
    font-size: 40px;
    text-align: left;
    float: right;
}
.j{
    margin: 20px;
    height: 350px;
    width: 1150px;
}
.j1{
    height: 350px;
    width: 550px;
    border: 1px solid gray;
    float: left;
    border-bottom-right-radius: 250px;
    border-top-right-radius: 250px ;
    background-image: url(41.images/ty.jpg);
}
.j2{                       
    height: 350px;
    width: 500px;
    float:left;
}
.j21{
    margin-top: 120px;
    margin-left: 20px;
    height: 250px;
    width: 300px;
    font-size: 10px;
    text-align: left;
    float: left;
    
}
.j3{
    width: 300px;
    color: white;
    background-color:  rgb(245, 90, 51);
    border: 1px solid  rgb(245, 90, 51);
}
.k{
    height: 250px;
    width: 1100px;
    }
.k1{
    height: 150px;
    width: 300px;
    border: 1px solid  rgb(245, 90, 51);
    background-color: rgb(245, 90, 51);
    float: left;
    border-radius: 5px;
    color: white;
    text-align: left;
    padding-left: 15px;
    padding-top: 20px;
    margin-left: 20px;

}
.l{
    height: 150px;
    width: 1150px;
    background-color: rgb(33, 31, 31);
    margin-bottom: 10px;
    color: white;
}

