div{
    height: 600;
    width: 900;
    background-color: black;
    float: left;
}
.a{
    height: 100;
    width: 900;
    background-color: aqua;
    float: right;
}
.b{
    height: 100;
    width: 100;
    background-color: rgb(4, 72, 12);
    float: left;
}
.c{
    height: 100;
    width: 100;
    background-color: rgb(116, 117, 117);
    float: right;
}
.d{
    height: 50;
    width: 100;
    background-color: rgb(255, 0, 0);
}
.e{
    height: 50;
    width: 50;
    background-color: rgb(225, 0, 255);
    float: left
}
.f{
    height: 50;
    width: 50;
    background-color: rgb(255, 140, 0);
    float: right;
}
.g{
    height: 500;
    width: 100;
    background-color: blue;
    float: left;
}
.h{
    height: 300;
    width: 100;
    background-color: rgb(165, 42, 155);
    float: left;
}
.i{
    height: 200;
    width: 50;
    background-color: rgb(42, 163, 165);
    float: left;
}
.j{
    height: 200;
    width: 50;
    background-color:blue;
    float: right;
}
.k{
    height: 100;
    width: 800;
    background-color: rgb(111, 255, 0);
    float: right;
}
.l{
    height: 400;
    width: 100;
    background-color: rgb(255, 0, 225);
    float: left;
}
.m{
    height: 200;
    width: 50;
    background-color: rgb(185, 193, 188);
    float: left;
}
.n{
    height: 200;
    width: 50;
    background-color: brown;
    float: right;
}
.o{
    height: 200;width: 100;background-color: orangered;float: left;
}
.p{
    height: 400;width: 100;background-color: rgb(94, 7, 101);float: left;
}
.q{
    height: 100;width: 600;background-color: rgb(255, 0, 76);float: left;
}
.r{
    height: 300;width: 600;background-color: rgb(46, 42, 165);float: left;
}
.s{
    height: 300;width: 200;background-color: rgb(165, 42, 130);float: left;
}
.t{
    height: 150;width: 200;background-color: rgb(255, 255, 0);float: left;
}
.u{
    height: 150;width: 100;background-color: rgb(42, 163, 165);float: left;
}
.v{
    height: 150;width: 100;background-color: rgb(157, 42, 165);float: right;
}
.w{
    height: 300;width: 200;background-color: rgb(42, 165, 44);float: left;
}
.x{
    height: 300;width: 200;background-color: rgb(42, 61, 165);float: right;
}
.y{
    height: 150;width: 200;background-color: rgb(255, 255, 0);float: left;
}
.z{
    height: 150;width: 100;background-color: rgb(42, 163, 165);float: left;
}
.vi{
    height: 150;width: 100;background-color: rgb(85, 42, 165);float: right;
}